#PARTICIPANTS{
    
    background-color: yellow;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);

  /*  background-color: #62bbd3;
    background-image: linear-gradient(30deg,  #80c9dd 12%, transparent 12.5%, transparent 87%,  #80c9dd 87.5%,  #80c9dd),
    linear-gradient(150deg,  #80c9dd 12%, transparent 12.5%, transparent 87%,  #80c9dd 87.5%,  #80c9dd),
    linear-gradient(30deg,  #80c9dd 12%, transparent 12.5%, transparent 87%,  #80c9dd 87.5%,  #80c9dd),
    linear-gradient(150deg,  #80c9dd 12%, transparent 12.5%, transparent 87%,  #80c9dd 87.5%,  #80c9dd),
    linear-gradient(60deg,  #d5eaf0 25%, transparent 25.5%, transparent 75%,  #d5eaf0 75%,  #d5eaf0), 
    linear-gradient(60deg,  #d5eaf0 25%, transparent 25.5%, transparent 75%,  #d5eaf0 75%,  #d5eaf0);
    background-size:40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;*/


/*    background-color:#62bbd3;
background-image:
radial-gradient(  #fff 9px, transparent 10px),        
repeating-radial-gradient(  #fff 0,   #fff 4px, transparent 5px, transparent 20px,   #fff 21px,   #fff 25px, transparent 26px, transparent 50px);    
background-size: 30px 30px, 90px 90px; 
background-position: 0 0;*/

    z-index: 3;
  cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur222.cur), auto !important;
}


.tbl{
    justify-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
   
}

table {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(50, 250, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
   animation: tble 0.5s ease-out 1;
  }

  @keyframes tble{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }
  
  .buttonz:active+table{
    animation: tble 4s ease-out 1;

  }

  th, td {
    color: ivory;
    text-align: left;
    padding: 12px;
    text-align: center;
  
  }
  tr:nth-child(odd) {color:black;background-color:#87FF00;
  }
  tr:nth-child(even) {background-color: #7800FF;
  }
  tr:nth-child(1) {background-color: #f2f2f2;color: black;
}


tr:hover{
  transform: scale(1.03);
}


.buttond{
  cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1152.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1152.png), auto !important;
}




  