* {
    box-sizing: border-box;
  }
  

a{
  text-decoration: none !important;
}

button{
  border: 0px;
  padding: 0;
  font-size: 110%;
  font-family: inherit;
  cursor: pointer;
  background: none;
  z-index: 4;
}

button:hover
{
  z-index: 4;
    
}

button:focus {
  z-index: 4;
    outline: 0px solid #fff;
    outline-offset: -40px;
}

button:active {
  z-index: 4;
    transform: scale(0.89);
}

  .sbj{
    top: 100vh;
    position: absolute;
   
    width: 100vw;
    background: #9500FF;
    background: -webkit-linear-gradient(45deg, #6AFF00, #9500FF);
    background: -o-linear-gradient(45deg, #6AFF00, #9500FF);
    background: -moz-linear-gradient(45deg, #6AFF00, #9500FF);
    background: linear-gradient(45deg, #6AFF00, #9500FF);
    cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto !important;
  
  }
  #bgg1
    {
      margin: 0;
      position: absolute;
      top: 40%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25vw;
      height: 35vh;
      opacity: 0.2;   
      position: fixed;  
      animation: b1  9s ease-in-out infinite;
      z-index: 0;
     
    }
    @keyframes b1{
      0%{
           transform: scaleX(1);
      }
      50%{
        transform: scaleX(-0.5);
       
      }

      100%{
        transform: scaleX(-1);
       
      }
    }
  
    .participants{
      z-index: 30;
    }
  
  .wrapper {
     
    cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur221.cur), auto !important;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 30;
    
  }
  
  .card {
    width: 390px;
    height: 310px;
    margin: 1em;
    perspective: 1500px;
    cursor: url(http://cur.cursors-4u.net/games/gam-4/gam308.cur), auto !important;
    animation: tble 5s ease-out 1;

  }
  .card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
  
  .more {
    display: none;
  }
  .more:checked ~ .content {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
  }
  .front .inner,
  .back .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
  }
  
  .front {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
  }
  .front:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
    background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7));
  }
  .front .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }
  .front h2 {
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
  .front .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
  }
  .front .rating i {
    margin: 0 1px;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid #f0f0f0;
  }
  .back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
  }
  .back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #355cc9;
    grid-row: 3;
  }
  .back .info:not(:first-of-type):before {
    content: '';
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
  }
  .back .info span {
    font-size: 2em;
    font-weight: 700;
  }
  .back .info i {
    font-size: 1.2em;
  }
  .back .info i:before {
    background: linear-gradient(40deg, #355cc9, #438af3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .back .info .icon {
    margin-left: 0.3em;
  }
  .back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
  }
  .back .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color: #355cc9;
    padding-right: 10px;
  }
  .back .location,
  .back .price {
    font-weight: 600;
    color: #355cc9;
    grid-row: 1;
    font-size: 0.86em;
  }
  .back .location {
    grid-column: 1/3;
    justify-self: left;
  }
  .back .price {
    grid-column: 3/-1;
    justify-self: right;
  }
  .back .button {
    grid-column: 1/-1;
    justify-self: right;
  }
  .back .button.b {
    grid-column: 1/-1;
    justify-self: center;
  }
  .back .button.a {
    text-decoration: none;
    grid-column: 1/-1;
    justify-self: left;
  }

  
  
  .button {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    z-index: 4;
  }
   
  .button.a{
    text-decoration: none;
    color: darkblue;
    padding: 0vw  -0vw;
    z-index: 4;
  }
  .button.b{
    color: darkorange;
    padding: 0vw  -0vw;
    z-index: 4;
  }

  .button:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: #355cc9;
    z-index: 4;
  }
  .button.return {
      display: inline;
    line-height: 3em;
    color: #355cc9;
    border-color: #355cc9;
    text-shadow: none;
    z-index: 4;
  }
   
  
   
  .button.return:hover {
    background-color: #355cc9;
    color: #fff;
    box-shadow: none;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #859ddf;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    justify-self: center;
  }

  .flex-container button{
    color: rgb(255, 255, 255);
    background-color: #FF0087;
    font-size: 14px;
  }

  .flex-container button:hover{
    transform: scale(1.3);
  }
   
  .flex-container button:active{
    transform: scale(0.83);
  }


  .buttonz:active+table{
    animation: tble 4s ease-out 1;

  }

  @keyframes tble{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }
  @keyframes tble2{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }
  @keyframes tble3{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }
  @keyframes tble4{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }
  @keyframes tble5{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }
  @keyframes tble6{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }

  .footer{
    animation: tblef 3s linear infinite;

  }
  @keyframes tblef{
    from{
     color: ivory;
    
    }
    to{
      color: rgb(252, 0, 0);
    }
  }

  .favicon1{
    border-radius: 50%;
    height: 62px;min-width: 62px;
   
  }
  @media only screen and (max-width: 500px) {
    .button.a{
      color: darkblue;
      padding: 0 0.001vw;
    }
    .button.b{
      color: darkorange;
      padding: 0 0.001vw;
    }
  }

